
@{
    ViewData["Title"] = "Welcome to Lab2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Choose your subject</h1>

<ul>
    <li><a asp-controller="Categories" asp-action="Details" asp-route-subject="Food">Food</a></li>
    <li><a asp-controller="Categories" asp-action="Details" asp-route-subject="Tech">Tech</a></li>
    <li><a asp-controller="Categories" asp-action="Details" asp-route-subject="Sports">Sports</a></li>
</ul>

