@{
    ViewData["Title"] = "COMP2084 - Lab 2";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Lab2</h1>
    <p>This project is for lab2</p>
    <p>Source code available at <a href="https://github.com/Li-Kuo/Lab2" alt="View on GitHub">https://github.com/Li-Kuo/Lab2</a></p>
</div>
